$mobile-width: 375px;
$desktop-width: 1440px;
$verified-graduate-opacity: 50%;
$paragraph-opacity: 70%;
$clr-moderate-violet: hsl(263, 55%, 52%);
$clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
$clr-white: hsl(0, 0%, 100%);
$clr-light-gray: hsl(0, 0%, 81%);
$clr-light-grayish-blue: hsl(210, 46%, 95%);
$clr-light-grayish-blue-with-50opacity: hsl(210, 46%, 95%, 50%);
$clr-light-grayish-blue-with-70opacity: hsl(210, 46%, 95%, 70%);
$clr-very-dark-grayish-blue-with-50opacity: hsl(217, 19%, 35%, 50%);
$clr-very-dark-grayish-blue-with-70opacity: hsl(217, 19%, 35%, 70%);

$paragraph-font-size: 13px;
$medium-weight: 500;
$semibold-weight: 600;